<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lixy.bluebook.Dao.BlogMapper">

    <insert id="saveBlog" parameterType="blog">
        insert into tb_blog (id, shop_id, user_id, title, images, content, liked, comments)
        VALUES (#{id},#{shopId},#{user.id},#{title},#{images},#{content},#{liked},#{comments})
    </insert>
    <update id="updateBlogLiked">
        update tb_blog set liked = liked +(${delta}) where id = #{id}
    </update>
    <resultMap id="blogId" type="blog">
        <id property="id" column="id"/>
        <result property="shopId" column="shop_id"/>
        <result property="title" column="title"/>
        <result property="images" column="images"/>
        <result property="content" column="content"/>
        <result property="liked" column="liked"/>
        <result property="comments" column="comments"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <association property="user" select="com.lixy.bluebook.Dao.UserMapper.getUserDTO" column="user_id"/>
    </resultMap>
    <select id="getBlogById" resultMap="blogId">
        select *
        from tb_blog
        where id = #{id}
    </select>
    <select id="getBlogByUserId" resultType="com.lixy.bluebook.Entity.Blog">
        select * from tb_blog where user_id = #{id} limit ${currentNum} , ${pageSize}
    </select>
    <select id="getHotBlog" resultMap="blogId">
        select * from tb_blog order by liked
    </select>
</mapper>